[2018-09-30 21:54] maxwellpeterson-wf opened #3 "Dart 1 support"
Thank you for creating this great library! The organization I work for has been looking for DI solutions in Dart, but have been disappointed by the existing options due to the reasons you outlined in your [Medium post](https://medium.com/flutter-community/announcing-kiwi-52ddb3935e6d).

We have a lot of Dart code and as a result we are still at least a few months away from transitioning our entire

[2018-10-01 05:54] letsar commented on #3
Hi @maxwellpeterson-wf,

Thank you for your interest in this library 😊 .

Since I didn't test this library with Dart 1, I don't know if there are limitations (beside `new `keyword), but I would be extremely careful about types.
I don't remember the details, but I know that I had issues in Dart 1 when I wanted to store an object in a `Map<Type, Object>` through a generic method, like in the kiwi co

[2018-11-03 01:49] yohom opened #4 "Version solving failed."
when i update flutter to `0.10.2`, version solving failed.

[2018-11-12 10:39] as001622 opened #5 "Register Type from imported package"
Hello!
How to register some Type from imported package, which doesn't have a constructor, but instead has a getInstance() method, witch return Future<Type>. As example SharedPreferences.

[2019-01-09 13:47] tanchuev opened #6 "Scopes and Modules"
What about scopes and modules for dependencies?

I what to clear few dependencies by calling one method. How can I do it?

Can I create module for some features? Example: AppModule(only app dependencies), ShopListModule, WaletModule...

[2019-01-23 14:35] letsar commented on #6
Oh I see, I didn't add this feature. If I let you create as many Containers as you want, is it good enough?

[2019-01-24 21:19] garfieldcoked opened #8 "Injecting multiple implementation in a constructor with base class in the signature"
Hi, Thank you for the library.

I am currently using the generator to manage dependencies and I would like to know how to inject implementations for base class in the following example.

[code]

[code]

Thanks,

[2019-03-04 14:59] dalewking opened #9 "Usage of generics is wrong"
Looking at the implementation, e.g.:

[code]

The use of generics here is not really correct. There are 2 type parameters, but the T type parameter is not actually used in the code. Shouldn't the T type parameter just be removed?

So if you have class B that extends class A and I want to register an instance of class B but using type A, I have to say:

    container.resgisterInstance<A, B>( bInsta

[2019-04-01 09:25] yohom opened #11 "`analyzer` dependency is too old."
Can you update the dependencies to newest? Thanks~

[2019-04-10 14:24] maartenvang opened #12 "The name 'Container' is not very user-friendly when used in flutter Widgets"
When using the `Container` in a file that imports `package:flutter/material.dart`, using the kiwi Container becomes a challenge.

An easy solution is to use a named import e.g. `import 'package:kiwi/kiwi.dart' as kiwi;` and then use `kiwi.Container()`. But I still think that, since Flutter is a big use case for Dart, choosing a different name would be a valid decision.

[2019-04-23 21:02] itavero commented on #9
Besides that, I actually think that the current interface is a bit confusing (also for `registerFactory` and `registerSingleton`).

Especially considering that the [blog post announcing Kiwi](https://medium.com/flutter-community/announcing-kiwi-52ddb3935e6d) isn't really mentioning what resolving dependencies that are registered in this way looks like.

First, this interface is used to register an

[2019-05-22 14:50] jkyon opened #15 "kiwi generator incompatibility"
Hello

thnak you for this amazing DI, This provide me a lot of functionality.
Now I update some packages to be compatible with mi unit tests. However, kiwi generator is not compatible with test package from sdk.

the error si the following

because kiwi_generator >=0.3.0 depends on analyzer >=0.32.4 <0.35.0 and paymobile_app depends on test ^1.3.0, flutter_test from sdk is incompatible with kiwi_g

[2019-06-07 06:40] amondnet commented on #15
I have the same problem.
I ended up creating my own fork that:

analyzer: '>= 0.32.4 <0.36.0'

[code]

[2019-06-20 13:41] vanlooverenkoen commented on #12
This should be renamed. because autoimports with Flutter and Kiwi can not be used

[2019-06-25 21:00] LucasFaiska opened #16 "Registered objects life cycle."
What is the registered object life cycle? If on a screen I retrieve an object what happens when I go out of this screen?

Reading the code, i saw the object has been created only when I retrieve it. So what is the moment it is destroyed and go out of memory, or the objects stay on memory all the time app's live?

That is not clear to me, anyone can helpme?

Thanks

[2019-07-02 13:36] mps2209 opened #17 "Generated Injector is private"
After generating the injector.g.dart the class name is _$Injector and therefore cant by referenced in another dart file. I have to manually remove the underline

[2019-07-23 08:24] sosite commented on #17
@mps2209 In your main `Injector` lib just add this lines:
[code]
But yea, for me it's also a little code smell. Or not? 🤔

[2019-07-24 08:47] sosite commented on #12
Right now I workaround it by create own wrapper on `Container` class ;)
[code]

[2019-09-10 21:23] OttoChamo commented on #15
I followed the flutter example and inside the pubspec.yaml he didn't place the version numbers, if you try it this way it will work .

[2019-10-17 11:44] deep-stl commented on #16
Hi @LucasFaiska I have read the code, it is stayed in the memory.if you unregistered the instance, next time it will throw error that instance is not register.
resolve method
[code]
unregister method
[code]
so it should resolve the instance next time after we unregistered them.

[2019-10-18 10:42] deep-stl opened #19 "kiwi generator should provide creating scoped container."
[code]

[code]
above we can't create scoped container, all our dependency will be store in `Container` class.someone knows how to create scoped container in generator package please provide information.

[2019-11-26 22:49] gurleensethi commented on #17
As the docs suggest you can create a `setup` method in you `Injector` class that would initialize(`configure`) your injector. You don't need the `_$Injector` class anywhere else.

[2019-11-27 15:24] zhangzhenxi commented on #11
[code]

[2019-11-27 21:04] leen-nobbas commented on #11
@letsar
Can you please update dependencies.

Because kiwi_generator >=0.4.0 depends on analyzer >=0.32.4 <0.37.0 and json_serializable 3.2.3 depends on analyzer >=0.37.1 <0.39.0, kiwi_generator >=0.4.0 is incompatible with json_serializable 3.2.3.
And because no versions of json_serializable match >3.2.3 <4.0.0, kiwi_generator >=0.4.0 is incompatible with json_serializable ^3.2.3.
So, because klie

[2019-12-07 17:06] insanebaba opened #20 "DART_Style dependency on generator needs update to latest"
Hi Team ,
Can you kindly upgrade all the depenedencies, especially **dart_style** as it is still stuck to old version and causing incompatibility with other deve dependencies??

[2019-12-17 11:46] vanlooverenkoen opened #21 "Kiwi uses outdated analyzer dependencies"
[code]

This should be fixed

[2019-12-18 23:41] arnemolland commented on #21
Until this is updated, here's a temporary fix:
[code]

[2019-12-23 18:43] fralways opened #22 "unregister should not throw error if class does not exist"
I want my widget to register some class in kiwi and after widget is disposed to unregister that class. The problem I experience is following:

User opens page A;
page A register class B in kiwi;
User leaves page A;
User enters page A before dispose A is called;
User gets error for registering class in kiwi that is already registered;
dispose A gets called and class B gets unregistered;

Obvious so

[2019-12-26 18:36] camh3190 opened #23 "inject firebase and GoogleSignIn"
Hi!
I'm trying to inject a FirebaseAuth and GoogleSignIn instance but I just can not figure out how to do it
If I use :
`@Register.singleton(FirebaseAuth) `
the injector.g.dart it is not created and get this error in the terminal:
Error running InjectorGenerator
Invalid argument(s): the constructor FirebaseAuth.null does not exist

I'm using this tutorial as reference: [https://bloclibrary.dev/#/f

[2019-12-30 17:49] swailr378 commented on #23
Untested, use at your own risk: container.registerInstance(FirebaseAuth.instance);

[2020-01-03 05:38] camh3190 commented on #23
thanks !!!! it works.
And for the record, if someone checks the tutorial I'm using as reference, I have to use:
`container.registerInstance(FirebaseAuth.instance);
    container.registerInstance(GoogleSignIn());`

I just hope it does not give me an unexpected error in the future jajajaja

[2020-01-03 05:38] #23 closed

[2020-03-13 05:03] timeshift92 opened #24 "The type String was not registered"
The type String was not registered
'package:kiwi/src/container.dart':
Failed assertion: line 92 pos 12: 'silent || (providers?.containsKey(T) ?? false)'
hello how can i resolve this problem?

[2020-04-14 10:18] vanlooverenkoen commented on #21
@letsar are you still planning to update your package?

[2020-06-06 11:54] britannio opened #27 "Maintenance?"
The last update was a year ago, maybe it should be marked as discontinued on pub or new maintainers should be assigned?

[2020-06-11 07:27] vanlooverenkoen commented on #27
I have emailed him a couple months ago. No response

[2020-06-11 15:54] letsar commented on #27
Sorry for the delay, I didn't take the time to answer this.
I don't have have enough time to maintain all the packages that need it for the moment and I'm currently experimenting another way to manage the state in Flutter.
I can give the repo to someone else if you want, but I would need to read how to do that on pub.dev also.

[2020-06-11 16:26] vanlooverenkoen commented on #27
I have send you an email with the details for a transfer

[2020-06-12 09:01] 1ka commented on #19
It would be nice if `configure()` was defined as `void configure([Container scopedContainer])` and the generator did:

[code]

[2020-06-13 07:36] vanlooverenkoen commented on #27
I have taken over the maintenance from @letsar
kiwi 0.3.0 & kiwi_generator 0.5.0 are now available with the version fixes

[2020-06-13 07:36] #27 closed

[2020-06-13 07:36] vanlooverenkoen commented on #21
Fix in kiwi 0.3.0 & kiwi_generator 0.5.0

[2020-06-13 07:36] #21 closed

[2020-06-13 07:36] vanlooverenkoen commented on #20
Fixed in kiwi 0.3.0 & kiwi_generator 0.5.0

[2020-06-13 07:36] #20 closed

[2020-06-13 07:37] vanlooverenkoen commented on #11
Fixed in kiwi 0.3.0 & kiwi_generator 0.5.0

[2020-06-13 07:37] #11 closed

[2020-06-13 07:37] vanlooverenkoen commented on #15
Fixed in kiwi 0.3.0 & kiwi_generator 0.5.0

[2020-06-13 07:37] #15 closed

[2020-06-13 08:09] vanlooverenkoen commented on #24
Can you provide me with a working small working example where you have this problem?

[2020-06-13 08:10] vanlooverenkoen commented on #22
Can you provide me with a working small working example where you have this problem?

[2020-06-13 08:22] vanlooverenkoen commented on #17
@mps2209 Generated classes should not be used outside the class itself. `_$` indicates it is a generated class.

If you want to use it outside of this class. You can do 2 things:
**Add a factory:**
[code]
**Add an extra method in the same file of your Injector**
Future<void> setupNetworkingDependencies() async {
  final injector = _$Injector()
  injector.registerNetworkDependencies();
  injector.r

[2020-06-13 08:22] #17 closed

[2020-06-13 08:29] vanlooverenkoen commented on #5
@as001622 what @letsar said is indeed correct you should do something like this:
[code]

If you still have questions about this, feel free to comment, reopen the ticket.

[2020-06-13 08:29] #5 closed

[2020-06-13 08:34] vanlooverenkoen commented on #3
@maxwellpeterson-wf because Dart 2 offers a lot of good features. With nullability coming in the future I think we should focus only on Dart 2. If there still is a big interest in Dart 1, please let me know so we can add it to the roadmap. For now I will close this issue

[2020-06-13 08:34] #3 closed

[2020-06-13 08:45] vanlooverenkoen commented on #9
@itavero

This is indeed not correct. If you would test this. It would cause an error because Sith is never registered.

This is indeed correct.

[2020-06-13 08:46] vanlooverenkoen commented on #9
@dalewking I will take a look at the register instance. But at first sight it looks like the T can be removed. It is needed for the annotation though. But not for the method itself

[2020-06-13 08:50] vanlooverenkoen commented on #16
Because all the dependencies are kept in a Map you have to handle the life cycle yourself.
By default: once registered it will always be available.

If you want to remove an object from the KiwiContainer you have to manually unregister when you want to remove the object.

If you have any more questions, feel free to comment or reopen this ticket

[2020-06-13 08:50] #16 closed

[2020-06-13 08:59] vanlooverenkoen commented on #19
Duplicate of #6

[2020-06-13 16:38] vanlooverenkoen opened #32 "Improve Error handling when resolving, unregistering a dependency"
[code]

[2020-06-13 17:06] vanlooverenkoen commented on #12
From version 1.0.0 Container will be renamed to KiwiContainer to make it easier for flutter developers. I am currently working on the implementation for kiwi and the kiwi_generator

[2020-06-13 21:39] vanlooverenkoen opened #34 "Resolve object by specific type: resolveAs<S, T extends S>"
During testing we want to be using a moc implementation of a specific class. But in our tests we want to setup,seed, configure our mocks.

That is why we need a method that can give us an Object from a specific type. That was previously registered.

Something like this:

`static T resolveAs<S, T extends S>() => kiwi.Container().resolve<S>() as T;`

[2020-06-13 22:05] vanlooverenkoen commented on #12
**Breaking Change** in kiwi 1.0.0 & kiwi_generator 1.0.0

[2020-06-13 22:05] #12 closed

[2020-06-13 23:08] vanlooverenkoen commented on #32
Adding a KiwiError instead of throwing assert errors. This way it is clear for the developer what is causing the issue. In this case a KiwiError indicates there is something with the kiwi package. By adding more information about the crash and some common solutions it should be clear for the developer what the problem is.
[code]

[2020-06-13 23:43] vanlooverenkoen commented on #9
@itavero #36 can be used to resolveAs

[2020-06-14 00:09] vanlooverenkoen commented on #23
@camh3190 this is indeed the correct way for registering something like this.

[2020-06-14 00:10] vanlooverenkoen commented on #9
@itavero & @dalewking if you want to review pull request: #38.

[2020-06-14 07:33] fralways commented on #22
[code]

[2020-06-14 07:35] fralways commented on #22
Fast tap on top left button while screens are changing will eventually create error.

[2020-06-14 07:38] fralways commented on #22
So what I wanted to do is in Class A
[code]

So that i ensure that class B is always unregistered before I register it, but this throws error.

[2020-06-14 08:16] vanlooverenkoen commented on #22
The silent field on KiwiContainer will make sure no error is thrown:
[code]

But maybe a better solution is just to register a factory. So every time you want to get ClassB a new ClassB is created? (This is perfect for view models because you only need to get your ViewModel once. and after that you just use your in memory ViewModel.)

#6 could also help. But that is currently not yet supported.

[2020-06-14 09:36] vanlooverenkoen commented on #6
Right now you can already create scoped containers.

[code]

@5turman  & @tanchuev I think this issue is solved for kiwi. the kiwi_generator is not yet supported but we will take that up in #19  (closing this issue for now. please comment, reopen if you are still having trouble with the current implementation)

[2020-06-14 09:36] #6 closed

[2020-06-14 09:37] vanlooverenkoen commented on #19
#6 already implements the kiwi implementation I will reopen this ticket for tracking the kiwi_generator implementation

[2020-06-14 15:42] dalewking commented on #9
nice to see some action on this finally after 15 months

[2020-06-14 15:45] vanlooverenkoen commented on #9
Yes indeed. I have taken over the maintenance of kiwi. We are using this package for more than a year now. So I am really dedicated to keeping this package up-to-date. I went through all the issues this weekend.

[2020-06-15 06:42] vanlooverenkoen commented on #34
Fixed in kiwi 1.1.0

[2020-06-15 06:42] #34 closed

[2020-06-15 06:42] vanlooverenkoen commented on #32
Fixed in kiwi 1.1.0

[2020-06-15 06:42] #32 closed

[2020-06-15 06:43] vanlooverenkoen commented on #24
#32 in now released in kiw 1.1.0. Maybe you can check better what you are doing wrong there?

[2020-06-15 07:32] fralways commented on #22
Silent field can do the trick then.

[2020-06-15 07:32] #22 closed

[2020-06-15 19:14] vanlooverenkoen commented on #9
Fixed in
kiwi => 2.0.0
kiwi_generator => 2.0.0

[2020-06-15 19:14] vanlooverenkoen commented on #19
Fixed in
kiwi_generator => 2.0.0

[2020-06-15 19:14] #19 closed

[2020-06-15 21:56] SoftWyer commented on #19
@vanlooverenkoen  Brilliant, thanks for tackling this. I'll rework our current project when we have some slow-time to use this and feedback if there are any issues.

[2020-06-16 05:41] vanlooverenkoen commented on #19
Perfect.

[2020-06-17 10:24] vanlooverenkoen opened #44 "@override should be added to the generated file"
[code]
`@override` should be added
[code]

[2020-06-17 10:29] vanlooverenkoen opened #45 "Generator will succeed but not generate the .g.dart file. Because of method without annotations"
Generator will succeed but not generate the .g.dart file. Because of method without annotations
[code]

[2020-06-19 03:37] dalewking commented on #9
Noticed that Readme is slightly misleading on this now, it says (unchanged from before):

It would be more accurate to say that "you have to specify the supertype"

[2020-06-23 15:21] jaydangar opened #46 "Kiwi DI for abstract classes"
Hello, First of all Thank you very much for making job really easy for DI in flutter for the beginners like me, Really appreciate this work. I want to ask that How can I create DI for abstract classes?

I am using Floor package for local database storage in flutter, which requires to create abstract classes for DAO like following. can you let me know how to DI for abstract classes?
[code]

[2020-06-23 15:28] vanlooverenkoen commented on #46
First of all, @letsar has created this package, I have taken over the maintenance since 2 weeks. So all the credits go to him.

For your question:

 Floor has a floor_generator that generates the non abstract class. If you want to register the abstract class you will have to register an instance that comes from the generated database.

Personally, I have never used floor but by reading the readme

[2020-06-23 15:37] jaydangar commented on #46
@vanlooverenkoen Thanks, It's okay to use Repository class as a singleton? because repository class contains objects which provides access to API and Database. So, by making Repository class singleton, we will be using a repository and related API and DB as a singleton too. Do I understood this part correct? kindly express your views on it.

[2020-06-23 15:41] vanlooverenkoen commented on #46
Yes indeed. You we usually do it.

Singleton repo's
Singleton services (apis)
Singleton dao's
Singleton database
Factories viewmodels

[2020-06-23 15:45] jaydangar commented on #46
@vanlooverenkoen So, Database class and Dao's in floor are implemented as abstract class only? so does that mean it's singleton by default?

[2020-06-23 15:49] vanlooverenkoen commented on #46
No that does not mean it is a singleton by default. (Im not sure what the correct implementation is for floor. But I would think it is just a normal object. By using kiwi you can make sure the instance is always a singleton. Because kiwi maintains that for you.

[2020-06-23 15:52] jaydangar commented on #46
@vanlooverenkoen Kindly let me know if there's any way to do it using abstract class, I did't have any example for it. A big thanks in advance.

[2020-06-23 16:11] jaydangar commented on #46
Hello @vanlooverenkoen, I have give your advice a shot and look into generated floor file, which is as below.

[code]

Now in my main function, I have create singleton Object by following.
[code]

@vanlooverenkoen can you kindly tell me if my approach is right or not?

[2020-07-08 03:17] maxwellpeterson-wf commented on #3
@vanlooverenkoen sounds good, we have switched to Dart 2.

[2020-08-19 10:23] hazzo opened #47 "[kiwi_generator] Registering singleton in module with dependencies from another module"
It's possible to register a singleton in a file that has a dependency a singleton of another file?
Ex.:

[code]

[code]

I tried it and the generated file wont have the imports of the missing clases that are not imported in the file of ModuleA.
I have to go to the generated file and import those missing dependencies. Don't know if is possible to reference another files inside the generated file.

[2020-08-19 10:28] vanlooverenkoen commented on #47
You need to manually import the the singletonB import in your `ModuleA.dart` because the generators will store the dependencies in the same KiwiContainer it will resolve the dependency correctly.

It is not possible to generate the import itself because we can't add imports to a `.g.dart` file that is the reason you need to add the import yourself in the `modulea.dart` file

[2020-08-19 10:36] hazzo commented on #47
Okay 👌. I supposed there was a reason. Thanks again and congrats for the package, the generator is a life saver!!

[2020-08-19 10:36] #47 closed

[2020-08-19 10:58] vanlooverenkoen commented on #47
I want to pass the credits to @letsar. I took over the package. Did some refactors, and made it Flutter friendly :)
I am happy you are enjoying 🥝

[2020-08-19 13:01] hazzo commented on #47
So kudos to @letsar too :)

[2020-09-15 08:05] saravananmnm opened #48 "We cannot maintain the class objects, when application was terminated."
[code]

[2020-09-15 08:08] vanlooverenkoen commented on #48
Can you provide me a reproducible example? You are calling a method `getAllOrders` on a null object? Where is this object coming from? Why is it null?

[2020-09-15 14:41] saravananmnm commented on #48
`class BackgroundService {
  CollectionDeliveryRepository repository;
  SaveOrdersDetailsDAO saveOrdersDetailsDAO;
  OrdersMasterDAO ordersMasterDAO;

  BackgroundService(
      this.repository, this.saveOrdersDetailsDAO, this.ordersMasterDAO) {
    configure();
  }`

i have injected from class constructor through kiwi .

`void backgroundFetchHeadlessTask(String taskId) async {
  CollectionDeliver

[2020-09-15 14:43] saravananmnm commented on #48
`container.registerSingleton((c) => BackgroundService(container<CollectionDeliveryRepository>(),container<SaveOrdersDetailsDAO>(),container<OrdersMasterDAO>()));`

[2020-10-02 08:13] vanlooverenkoen opened #49 "Kiwi generator crash boolean expression must not be null"
[code]

[2020-10-02 08:26] vanlooverenkoen opened #50 "Migrate example project to v2 android"

[2020-10-02 08:27] vanlooverenkoen commented on #49
For now we won't support nullability.

[2020-10-02 08:29] vanlooverenkoen opened #51 "Add support for nullability"
#49 does not yet support nullability.

With the testing/stable release closing for nullability, we need to make sure kiwi supports nullability as well

[2020-10-02 08:41] vanlooverenkoen commented on #49
fixed in:
kiwi: 2.0.1
kiwi_generator: 2.0.1

[2020-10-02 08:41] #49 closed

[2020-10-10 09:11] gkneshan opened #53 "between kiwi and flutter_test version solving failed. issue"
i try to use kiwi 2.0.1 in my flutter project. but pubspec.yaml gives error as
![Screenshot from 2020-10-10 14-36-45](https://user-images.githubusercontent.com/11815178/95651182-21389e00-0b06-11eb-9947-e580024c8864.png)
![Screenshot from 2020-10-10 14-36-57](https://user-images.githubusercontent.com/11815178/95651188-2a296f80-0b06-11eb-9266-6c7efe4b9e9b.png)

[2020-10-10 09:17] vanlooverenkoen commented on #53
Flutter_test is not using the latest meta version. Kiwi is. So you have to add this to specifically define what version should be used

[code]

[2020-10-10 09:42] gkneshan commented on #53
thanks a lot  @vanlooverenkoen .
it's working...
thank you

[2020-10-10 09:42] #53 closed

[2020-10-24 07:05] saravananmnm commented on #48
any solutions about this issue?

[2020-10-24 07:07] vanlooverenkoen commented on #48
Oh I'm sorry I completely forgot. Today I have time to some investigating.

[2020-10-24 07:23] vanlooverenkoen opened #54 "Add no response bot"
Add the no response bot

[2020-10-24 07:29] #54 closed

[2020-10-24 07:50] vanlooverenkoen commented on #48
@saravananmnm can you provide me with a small working example? That I can run that has this specific issue? Meanwhile I am looking at https://pub.dev/packages/background_fetch how it works and trying to create a working example for myself

[2020-10-24 08:39] saravananmnm commented on #48
2020-10-24 14:06:53.466 29236-29266/com.fluttersamples E/flutter: [ERROR:flutter/lib/ui/ui_dart_state.cc(166)] Unhandled Exception: KiwiError:

    Failed to resolve `BGReposotory`:

    The type `BGReposotory` was not registered

    Make sure `BGReposotory` is added to your KiwiContainer and rerun build_runner build
    (If you are using the kiwi_generator)

    When using Flutter, most of the t

[2020-10-24 08:39] saravananmnm commented on #48
`import 'dart:async';

import 'package:background_fetch/background_fetch.dart';
import 'package:flutter/material.dart';
import 'package:flutter/services.dart';
import 'package:fluttersamples/repository/backgroundrepository.dart';
import 'package:geolocator/geolocator.dart';
import 'package:kiwi/kiwi.dart';

/// This "Headless Task" is run when app is terminated.
Future<void> backgroundHeadlessTask

[2020-10-24 08:40] vanlooverenkoen commented on #48
@saravananmnm I tried the following and everything was working for me.

I assume this problem is only present on Andriod?  Because on iOS it is not possible to fetch when the app is terminated

<details><summary>EXAMPLE</summary>

[code]

</details>

[2020-10-24 08:43] saravananmnm commented on #48
C:\Saravanan\Flutter_Sdk\flutter\bin\flutter.bat doctor --verbose
[√] Flutter (Channel stable, 1.20.4, on Microsoft Windows [Version 10.0.18362.1082], locale en-IN)
    • Flutter version 1.20.4 at C:\Saravanan\Flutter_Sdk\flutter
    • Framework revision fba99f6cf9 (6 weeks ago), 2020-09-14 15:32:52 -0700
    • Engine revision d1bc06f032
    • Dart version 2.9.2

[2020-10-24 08:50] vanlooverenkoen commented on #48
Your example does not include the `main` function. And I don't see a `KiwiContainer().register(BGRepository)`

[2020-10-24 09:01] saravananmnm commented on #48
void main() {
  WidgetsFlutterBinding.ensureInitialized();
  diConfig();
  BackgroundFetch.registerHeadlessTask(backgroundHeadlessTask);
  runApp(MyMainApp());
}

class MyMainApp extends StatelessWidget {
  // This widget is the root of your application.
  @override
  Widget build(BuildContext context) {
    return MaterialApp(
      title: 'Flutter Demo',
      debugShowCheckedModeBanner: false,

[2020-10-24 09:03] vanlooverenkoen commented on #48
diConfig is not yet available

[2020-10-24 09:05] saravananmnm commented on #48
import 'dart:io';

import 'package:fluttersamples/apiinterface/apiinterface.dart';
import 'package:fluttersamples/constants/constants.dart';
import 'package:fluttersamples/dto/driverstatusdto.dart';
import 'package:fluttersamples/dto/logindto.dart';
import 'package:fluttersamples/repository/backgroundrepository.dart';
import 'package:http/http.dart';
import 'package:http/io_client.dart';
import 'p

[2020-10-24 09:09] vanlooverenkoen commented on #48
Alright thanks. I just got the same error in my example as well after taking a look at your full example. I am first taking a deeper look into headless dart code. How it exactly works.

[2020-10-24 09:14] saravananmnm commented on #48
Alright @vanlooverenkoen fine. Let me know your solutions.

[2020-10-24 09:17] vanlooverenkoen commented on #48
@saravananmnm 1 more question are you having this problem only on Android? Because iOS won't run when the app is terminated? Or on both platforms?

[2020-10-24 09:18] saravananmnm commented on #48
@vanlooverenkoen Am faced this issue from both plarforms.

[2020-10-24 09:19] vanlooverenkoen commented on #48
And the app is completely terminated? Removed from recents. Or is the app just in the background?

[2020-10-24 09:21] saravananmnm commented on #48
Yes @vanlooverenkoen. App is terminated from recent activities.

[2020-10-24 09:36] vanlooverenkoen commented on #48
https://github.com/transistorsoft/flutter_background_fetch/issues/32#issuecomment-673430370

How is it possible that you can run a headless implemation on iOS? That is not supported by iOS itself.

[2020-10-24 09:39] vanlooverenkoen commented on #48
Regarding the Andeoid problem this is because android will release these objects. Only the callback can bu used to trigger dart code. The sollution that works is to call your diConfig() in you too level function.

This wil offcourse result in new objects but. But the kiwi container wil have all the objects you registered. As far as I can see there is no way to keep these the objects in the KiwiCon

[2020-10-24 10:08] vanlooverenkoen commented on #24
Closed because of inactivity. Comment if you still want to have this issue reopened

[2020-10-24 10:08] #24 closed

[2020-10-24 10:23] #9 closed

[2020-10-24 10:49] vanlooverenkoen commented on #8
[code]

That is currently not possible with the kiwi_generator.
It is possible to do it with the kiwi itself. like this:
[code]

With the kiwi_generator it is only possible to 1 resolver name for 1 type.

Do you have an idea how we can create a clean api that covers this?

[2020-10-24 11:02] saravananmnm commented on #48
Thanks for the solution @vanlooverenkoen.It's save my day.

[2020-10-24 11:02] #48 closed

[2020-10-24 11:03] #50 closed

[2020-10-24 11:05] vanlooverenkoen commented on #48
@saravananmnm no problem. Sorry it took so long.

[2020-10-24 11:25] #44 closed

[2020-10-24 12:16] vanlooverenkoen commented on #46
@jaydangar I'm sorry that it took so long. I completely forgot about this ticket. I would do the following

[code]

Using the kiwi_generator will result in some extra boilerplate code, that is because of how `floor` is setup.
Your personDao
[code]

And your injector file will look like this:
[code]

I personally use Moor for my db integration. It works way better with kiwi. Because the implementat

[2020-10-24 12:16] #46 closed

[2020-10-24 12:17] #45 closed

[2020-11-21 19:00] Yegorisa opened #62 "Null Safety"
Since Null Safety is in beta, it is time to update Kiwi library to support null safety. Are there any timelines on this? Thanks!

[2020-11-21 22:36] vanlooverenkoen commented on #62
Duplicate of #51

[2020-11-21 22:36] #62 closed

[2020-11-21 22:38] vanlooverenkoen commented on #51
@Yegorisa I will take a look at it tomorrow

[2020-11-22 11:42] vanlooverenkoen commented on #51
I have already migrated the kiwi package to support nullability. (In it's most basic form, just migrated to support nullsafety) the kiwi_generator has some dependencies that are not yet supporting nullsafety so for that one I will still wait.

[2020-11-22 18:19] NicolaChimerapps commented on #8
Perhaps `@Named('...')` on the parameter?

[2020-11-23 15:16] vanlooverenkoen commented on #51
@Yegorisa Since we are blocked because of the dart-lang packages. Do you think it would be nice to already have a kiwi-nullsafety.0 release? This release will not work with the kiwi_genrator.

[2020-11-23 23:48] Yegorisa commented on #51
@vanlooverenkoen since I am using the Kiwi with the kiwi_generator, I would prefer to wait for until dart sdk will migrate and then migrate kiwi_generator

[2020-11-27 08:55] Turbozanik opened #63 "How can I create scoped container?"
In your example you are creating a scoped container inside the screen itself, which makes such scoped DI worthless.
Can I somehow use scoped container to make the same logic as Dagger2 @scoped and Koin scoped does?
I want to create a scoped container in the main class, for example, and then use it when I will open the screen related to that scoped container.

[2021-01-12 10:50] CheKhenKho opened #64 "Generate custom Stateless widget and State"
Don't know if other people doing it or not, but to minimize usage of service locator I often find myself adding custom classes that fake method injection. Something like:
[code]
So that you can simply use
[code]
It's just an example of course.

Maybe you can add something like this to the generated output, so that the option to use it is there right out of the box.

[2021-01-13 08:04] vanlooverenkoen commented on #64
Kiwi is a dart package, not a package specifically created for Flutter. This is something that could be added to a third-party package.

You could maybe create a couple of these widgets and use generics to get the correct classes for the KiwiContainer.

[2021-01-16 11:57] #64 closed

[2021-02-26 22:38] irfan-429 opened #65 "The type `Object` was not registered"
What is the correct way to register `KiwiContainer` as I'm getting below error:

[code]

Here I registered:

[code]

P.S: I'm using   `kiwi: ^2.1.1`

[2021-02-27 10:55] vanlooverenkoen commented on #65
You are registering your SearchBloc in the InitState. But you are resolving SearchBloc in the same. class when your object is initialized. Because init state is called after initialization, you can't resolve SearchBloc because it is not yet registered

[2021-03-03 21:22] behnamsattar commented on #51
Null safety is out with Flutter 2.0 and this needs to be addressed ASAP.

[2021-03-03 21:26] vanlooverenkoen commented on #51
I was still waiting on the nullsafe support for some dependencies. As stated before kiwi is already migrated. You can use it via git right now

[2021-03-04 09:44] vanlooverenkoen commented on #51
@Yegorisa @behnamsattar I have created a pull request with the fixes for null safety. Because I was hoping the generator could be migrated to null safety as wel. I will create a dev release today for kiwi & the generator.

Please file new issues when you are having trouble.

[2021-03-04 15:47] #65 closed

[2021-05-15 11:45] patrickkusebauch opened #68 "Can I create `kiwi_generator` record for a string?"
Something like
[code]

So that I can easily change it for dev/staging/prod. Often it is useful for other classes created via DIC to have these string parameters. And I cannot come up with any other way than to create a class for each environment and register the class instead.

[2021-06-01 16:57] vanlooverenkoen commented on #68
That is not possible with the genrator. You should register that manually.

[code]

The generator will generate a dependency three. But because your string does not have a constructor or a factory method. it should be added manually.

We register this in our main.dart file. Or call a function that registers this string.

[2021-06-01 16:57] #68 closed

[2021-06-01 17:01] patrickkusebauch commented on #68
@vanlooverenkoen OK, good to know. How do I then resolve the issue where I want the `string` to be a dependency for something I create via the generator? A assume it is not possible? And I have to also do it the same way in the main.dart file when I register the string?

[2021-06-01 17:04] vanlooverenkoen commented on #68
That would look like this:

[code]

[2021-06-01 17:04] #51 closed

[2021-06-01 17:08] patrickkusebauch commented on #68
@vanlooverenkoen thank you for the example. One more question - sorry if too obvious I am new to dart - how do I pass the string value to `setup`?

[2021-06-01 17:12] vanlooverenkoen commented on #68
your main.dart file
[code]

your injector.dart file
[code]

One important part to note. is that this will only use the same string. It is best to have multiple main.dart files so threeshaking can be done on your code correctly. If you only include another dart file in main_alpha.dart it will not be shiped with the main_beta.dart app. Take a look at flavors for flutter. Or just use different main.d

[2021-06-01 17:17] patrickkusebauch commented on #68
@vanlooverenkoen Thank you, you have been a big help. Is there a way I can https://www.buymeacoffee.com/ or something? :smile:

[2021-06-01 17:26] vanlooverenkoen commented on #68
Haha https://www.buymeacoffee.com/vanlooverenkoen is my link

[2021-06-21 12:21] kennethnym opened #70 "Use cascade operator in generated code"
Currently the generated code produces something like this:
[code]
Instead of repeating `container` over and over, the cascade operator can be used to chain method calls on `container`:
[code]

[2021-06-21 12:22] kennethnym commented on #70
i am more than happy to make a PR for this issue

[2021-06-21 12:23] vanlooverenkoen commented on #70
That would be nice indeed. I am currently not having a lot of time to implement this. But I will review your pull requests if you could implement this.

[2021-06-22 15:05] kristijorgji opened #71 "Doesn't work with build_runner 2.0.4"
`Dart SDK version: 2.13.1 (stable) (Fri May 21 12:45:36 2021 +0200) on "macos_x64"`
`Flutter 2.2.2 • channel stable • https://github.com/flutter/flutter.git
Framework • revision d79295af24 (11 days ago) • 2021-06-11 08:56:01 -0700
Engine • revision 91c9fc8fe0
Tools • Dart 2.13.3`

Using build_runner version: "2.0.4"

build.yml content:
[code]

Running same script as before upgrade to new version i

[2021-06-23 23:46] zairahjy commented on #71
Same thing happens to me. Please help us.

[2021-06-24 07:47] kristijorgji commented on #71
I solved it friend, solution was to delete `build.yaml` then running builder works.
The kiw_generator documentation that says to create build.yaml with config above is wrong for new version of build_runner

[2021-06-24 10:00] zairahjy commented on #71
Yeah, it's working without the yaml file. Please update the docs.

[2021-07-08 07:36] vanlooverenkoen commented on #71
Will be fixed in #72

[2021-07-15 17:49] vanlooverenkoen commented on #71
Fixed in 3.0.1

[2021-07-15 17:49] #71 closed

[2021-08-25 10:17] Gilga89 opened #73 "Update analyzer ^1.7.1 to analyzer ^2.0.0"
It would be nice to update the analyzer dependency to ^2.0.0 version so we don't have to downgrade other libraries that requires it.

Thank you.

[2021-08-25 10:18] vanlooverenkoen commented on #73
I will take a look at it today

[2021-09-27 22:48] MaldonadoAndres commented on #71
still not working with build_runner: 2.1.2

[2021-11-21 17:02] hericles-koelher opened #75 "Can't use try/catch with kiwi"
Well, kiwi_error and not_registered_error was not added to kiwi.dart, please fix this.

[2021-12-04 03:58] #75 closed

[2021-12-16 10:28] vanlooverenkoen opened #77 "Class could not be registered correctly even when defaults are specified"
[code]
There is probably an issue with default values
[code]

[2021-12-18 22:35] kennethnym commented on #70
Fixed in #72

[2021-12-18 22:35] #70 closed

[2021-12-20 10:30] NicolaVerbeeck opened #78 "Code generator does not play nice with mockito"
Consider the following code:
[code]
In this case `MockDeepLinkViewModel` is generated by mockito using `@GenerateMocks`. This results in the following generated kiwi code:
[code]

[2021-12-29 08:47] vanlooverenkoen commented on #78
Thinking out loud. I think we need to configure the order in which build_runner should run. We had the same problem with moor

[2022-04-20 09:03] saravananmnm opened #80 "Kiwi injection not working in background/app killed state."
[√] Flutter (Channel stable, 2.5.0, on Microsoft Windows [Version 10.0.17763.1577], locale en-IN)
    • Flutter version 2.5.0 at C:\Flutter_SDK\flutter
    • Upstream repository https://github.com/flutter/flutter.git
    • Framework revision 4cc385b4b8 (7 months ago), 2021-09-07 23:01:49 -0700
    • Engine revision f0826da7ef
    • Dart version 2.14.0

[√] Android toolchain - develop for Android d

[2022-04-20 09:37] vanlooverenkoen commented on #80
Can you give a small working example. Make sure you initialize your dependency injection again in your background isolate. if you are using isolates

[2022-05-06 11:24] saravananmnm commented on #80
I have used kiwi 4.0.1 and following class registered with singleton instance. But its getting null instance, when background_locator callback method calls. Even though, I have already re-registered the same class.
container.registerSingleton((c) => CustomSharedPrefs());

Null error

    container = KiwiContainer();
    container!.silent = true;
    var **customSharedPrefs** = container!<CustomSha

[2022-05-06 11:31] vanlooverenkoen commented on #80
Can you create the smallest working example in an other repo so I can run and inspect your code?

[2022-06-14 18:28] lukaspili opened #83 "Allow analyzer version 4.x."
The upgrade doesn't seem to break anything (in my limited testing).

[2022-06-21 22:36] SebastianWaloszek commented on #83
@lukaspili
I have created this PR for it here: https://github.com/vanlooverenkoen/kiwi/pull/84